.title-div {
    background-color: #000000;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    text-align: center;

    align-items: center;
}

.title-div * {
    margin: 10px;
}

.game-div {
    background-color: #333333;
    height: 100px;

    margin-top: 100px;
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.console-div {
    background-color: #555555;
    height: 100px;

    margin-top: 200px;
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

input, input[text] {
    height: calc(100% - 25%);
    width: calc(100% - 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;

}
