<div *ngIf="title" xmlns="http://www.w3.org/1999/html">
    <section class="title-div">
        <h2>Please enter a video game name you want reviews for.</h2>
    </section>
    <div class="form-div">
        <form class="main-form">
            <div class="game-div">
                <md-input #title (keyup.enter)="getTitle(title.value)" (blur)="getTitle(title.value)" type="text"
                          dividerColor="warn" placeholder="Name of the Game" class="game-input"></md-input>
            </div>

            <button [routerLink]="['ReviewDetails', {title: title.value}]" md-raised-button type="submit" color="warn"
                    class="btn btn-default review-btn">Get Reviews
            </button>
        </form>
    </div>
</div>
