<div *ngIf="name">
    <div class="title-div">
        <h2>Please enter a video game name and console you want reviews for.</h2>
    </div>
    <div class="game-div">
        <md-input [(ngModel)]="name.name" dividerColor="warn" placeholder="Name of the Game." class="input-full-width">
        </md-input>
    </div>
    <div class="console-div">
        <md-input [(ngModel)]="name.console" dividerColor="warn" placeholder="Console the Game is Played On."
                  class="input-full-width">
        </md-input>
    </div>
</div>
